[Desktop Entry]
Name=Namib Notifier KDE Settings
Name[da]=Namib-notifikator KDE-indstillinger
Name[fr]=Paramètres du Notifieur KDE Namib
Name[hu]=A Namib Notifier KDE beállítása
Name[pl]=Ustawienia powiadomień Namib dla KDE
Name[sk]=Nastavenia oznámení KDE systému Namib

Comment=Graphical Settings for Namib Notifier KDE
Comment[da]=Grafiske indstillinger til Namib-notifikator KDE
Comment[de]=Grafische Einstellungsverwaltung für Namib
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur Namib
Comment[hu]=Grafikus beállításkezelő a Namib KDE Értesítőhöz
Comment[pl]=Graficzne ustawienia powiadomień Namib dla środowiska KDE
Comment[sk]=Grafické nastavenia oznámení prostredia KDE pre systém Namib

Exec=msm_kde_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
