[Desktop Entry]
Name=Namib Notifier Settings
Name[da]=Namib-notifikatorindstillinger
Name[fr]=Paramètres du Notifieur Namib
Name[pl]=Ustawienia powiadomień Namib
Name[sk]=Nastavenia oznámení systému Namib

Comment=Graphical Settings for Namib Notifier
Comment[da]=Grafiske indstillinger til Namib-notifikator
Comment[de]=Grafische Einstellungsverwaltung für Namib
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur Namib
Comment[pl]=Graficzne ustawienia powiadomień systemu Namib
Comment[sk]=Grafické nastavenia oznámení pre systém Namib

Exec=msm_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
